@model IEnumerable<Entidade.TipoAtividade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoAtividadeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAtividadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TipoAtividadeId  }) |
             
               
            </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <div class="form-group">
                            <input name="id" value=@item.TipoAtividadeId hidden />
                            <input type="submit"
                               value="Apagar"
                               class="btn btn-outline-danger"
                               onclick="return confirm('Deseja realmente apagar a atividade @item.Descricao?');" />
                        </div>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
